body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #121212;
    color: #e0e0e0;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #90ee90;
}

form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #333;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
}
div {
    width: 70%;
}

input[type="number"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #222;
    color: #e0e0e0;
    box-sizing: border-box;
    width: 100%;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.volver {
    margin-top: 20px;
}

.volver a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.volver a:hover {
    background-color: #45a049;
}
/* Estilo para mostrar las potencias */
.resultado {
    background-color: #333333;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
    width: 20%;
    margin: 0 auto;
}
ul {
    list-style-type: none; /* Elimina los puntos */
    padding-left: 0; /* Elimina el espacio extra de la izquierda */
}
li {
    margin: 5px 0; /* Agrega un pequeño margen entre los elementos */
}

.potencia {
    font-size: 18px;
    margin: 5px 0;
}
footer {
    text-align: center;
    margin-top: 50px;
    color: #888;
    font-size: 0.9em;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
#resultado {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    
}

#footer {
    width: 100%;
    text-align: center;
   
}

/* Estilo para el problema #5 */
.resultado-clasificacion {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(144, 238, 144, 0.3);
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
}

.resultado-clasificacion h2,
.resultado-clasificacion h3 {
    color: #90ee90;
}
